/****** General ***********/
.main-container,
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

/*header*/
.logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 79px;
}

.logo {
  padding: 30px 0px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 35px;
  gap: 68px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 16px;
  color: #0065fc;
}

.header_titre-form {
  gap: 35px;
}

.titre-header {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 35px;
  gap: 8px;
}

.titre-header h1 {
  font-weight: 700;
  font-size: 22px;
}

form {
  display: flex;
  align-items: center;
  height: 49px;
  border-radius: 15px;
}

form .submit-button {
  width: 132px;
  height: 49px;
  color: white;
  background-color: #0065fc;
  border: 1px solid #0065fc;

  font-size: 18px;
  font-weight: 700;
  border-radius: 0px 15px 15px 0px;
  padding: 15px 16px;
}
form .submit-icon {
  display: none;
}

.form-input {
  height: 49px;
  border: 1px solid #f2f2f2;
  text-align: center;
}

form ::placeholder {
  opacity: 1;
  font-size: large;
  font-weight: 700;
  color: #000;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
.icon-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 50px;
  height: 49px;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

.icon-header i {
  font-size: larger;
  color: black;
}

.filtres a {
  text-decoration: none;
  color: black;
}

.filtres {
  margin-top: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-size: large;
  font-weight: 700;
}

.filtre-list {
  display: flex;
  gap: 5px;
}

.Économique,
.Familial,
.Romantique,
.Nos-pépites {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  gap: 10px;
  height: 50px;
  padding: 4px 19px 4px 19px;
}

.filtre-list div:hover {
  background-color: #deebff;
}

.border-i-p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
  gap: 10px;
}

.border-i-p i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.border-i i {
  font-size: xx-small;
}

.hebergements h2 {
  width: 100%;
  font-size: 22px;
  font-weight: 700;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  text-decoration: none;
  color: #000;
}

.card-hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 20px;
  padding: 0px 0px 15px 0px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  width: 29%;
  height: 207.25px;
  gap: 4px;
}

.card-hebergements h4 {
  font-size: medium;
  font-weight: 700;
}
.card-hebergements p {
  font-size: small;
  font-weight: 400;
}

.hebergements {
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 30px;
}

.hebergements a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.hebergements h3 {
font-size: large;
  font-weight: 700;
}

.hebergements-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 15px;
}

.card-hebergements img {
  width: 100%;
  height: 124px;
  border: 5px solid white;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card img {
  object-fit: cover;
  width: 33%;
  height: 144px;
  border: 5px 0px 5px 5px;
  border-radius: 20px 0px 0px 20px;
}

.card-title {
  font-weight: 700;
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.activite {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.activite h2 {
  height: 1em;
  font-size: 22px;
  font-weight: 700;
}

.activite .activite-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-activite {
  width: 23%;
  height: 439px;
  border: 0px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
}
.card-activite a {
  width: 100%;
  text-decoration: none;
  color: black;
}
.card-activite img {
  width: 100%;
  height: 85%;
  border: 1px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card-activite p {
  font-weight: 700;
  font-size: medium;
  padding: 20px 19px;
}

.footer {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.footer h3 {
  font-size: large;
  font-weight: 700;
}

.footer p {
  font-size: medium;
}

.a-propos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  gap: 15px;
  padding: 20px;

  height: auto;
  width: 33%;
}
.nos-hebergements,
.assitance {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  justify-content: space-around;
  gap: 15px;
  padding: 20px;

  height: auto;
  width: 33%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  position: relative;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}
.lien-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }
  .filtres {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards article {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activite {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .activite-list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  .card-activite {
    height: 270px;
    width: 25%;
  }
  .card-activite img {
    height: 200px;
    width: 100%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0px;
  }
  .logo-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 115px;
    border-bottom: 2px solid #d9d9d9;
    width: 100%;
  }
  .logo {
    padding: 30px;
    height: 79px;
  }
  .nav a {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: medium;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  nav a:active {
    border-bottom: 2px solid #0065fc;
    padding-bottom: 16px;
    color: #0065fc;
  }
  .header_titre-form {
    padding: 0px 20px;
  }
  .submit-text {
    display: none;
  }
  .form {
    width: auto;
  }
  .form-input{
               border-top-width: 50%;
               width: 100%;
               border-right: 0px;
  }
  form .submit-icon {
    display: inline;
    color: #f2f2f2;
  }

  form .submit-button {
    width: auto;
    border: 1px solid #0065fc;
    background-color: #0065fc;
    padding: 15px 16px;
    border-radius: 15px;
  }

  .filtres p {
    width: 100%;
  }
  .filtres {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
  }
  .filtre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .Économique,
  .Familial,
  .Romantique,
  .Nos-pépites {
    width: 47%;
    font-size: 0.9em;
  }

  .border-i-p {
    padding: 0px 20px;
  }
  .border-i-p i {
    border-radius: 45%;
  }

  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    width: 100%;
  }
  .hebergements-and-populaires section {
    border-radius: 0px;
  }
  .hebergements-and-populaires .hebergements {
    background-color: white;
  }
  .populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .populaires .card {
    width: 100%;
  }

  .hebergements {
    display: flex;
    flex-direction: column;
  }
  .card-hebergements {
    width: 100%;
  }
  #hotel-du-port {
    order: 1;
  }

  #hotel-chez-amina {
    order: 6;
  }

  #hotel-les-mouettes {
    order: 3;
  }

  #hotel-de-la-mer {
    order: 4;
  }

  #auberge-la-canebiere {
    order: 2;
  }

  #auberge-le-panier {
    order: 5;
  }
  #hebergements-h3 {
    order: 7;
  }

  .activite,
  .footer {
    display: flex;
    flex-direction: column;
  }
  .activite {
    margin-bottom: 30px;
  }
  .activite-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card-activite {
    width: 100%;
    height: 25%;
  }

  .card-activite img {
    height: 141px;
    object-fit: cover;
  }

  footer .a-propos,
  footer .nos-hebergements,
  footer .assitance {
    width: 100%;
  }
}
